* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Teko";
    scroll-behavior: smooth;
}


/* Default Styles End */


/* Header start */

header {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    background-color: #ffcd62;
    overflow: hidden;
}

.header__block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffcd62;
}

.header__block.sticky {
    background-color: #52311e;
    color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.burger {
    font-size: 60px;
    color: #52311e;
}

.header__block.sticky .burger {
    color: #ffcd62;
}

.burger-text {
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
}

.header__block.sticky .burger-text {
    color: #ffcd62;
}

.deliver {
    font-size: 40px;
}

.header__block.sticky .deliver {
    color: #ffcd62;
}

.deliver-text {
    font-size: 20px;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
    font-weight: 800;
}

.header__block.sticky .deliver-text {
    color: #ffcd62;
}

.navigation__container .navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation__container .navigation li {
    list-style: none;
    margin-right: 30px;
}

.navigation__container .navigation li a {
    font-size: 25px;
    color: #52311e;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.header__block.sticky .navigation__container .navigation li a {
    color: #ffcd62;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.header__contents {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 140px 30px;
}

.header-left__content {
    /* background-color: red; */
    margin-top: 40px;
}

.header-left__content h3 {
    padding: 10px;
    border: 2px dashed #52311e;
    font-size: 25px;
}

.header-right {
    filter: drop-shadow(10px 5px 4px #111);
}

.header-right img {
    width: 100%;
    height: auto;
    /* width: 600px;
    height: 800px; */
}

.burger_text {
    font-size: 85px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 1px #fff;
    color: #52311e;
    ;
}

.week_text {
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
    text-shadow: 2px 1px #fff;
}


/* Header Media Query */

@media(max-width: 900px) {
    .burger_text {
        font-size: 65px;
    }
    .week_text {
        font-size: 40px;
    }
}

@media(max-width: 760px) {
    .burger_text {
        font-size: 50px;
    }
    .week_text {
        font-size: 30px;
    }
}

@media(max-width: 650px) {
    .navigation__container .navigation {
        justify-content: center;
    }
    .header__contents {
        flex-direction: column;
    }
    .burger_text {
        font-size: 70px;
    }
    .week_text {
        font-size: 50px;
    }
}

@media(max-width:590px) {
    .deliver {
        font-size: 30px;
    }
    .deliver-text {
        font-size: 20px;
        margin-left: 0;
    }
}

@media(max-width:550px) {
    .burger-text {
        font-size: 20px;
        margin-left: 0;
    }
}

@media(max-width:480px) {
    .deliver-text {
        font-size: 15px;
        margin-left: 0;
    }
}

@media(max-width: 400px) {
    .header {
        overflow: hidden;
    }
    .left-nav {
        margin: auto;
    }
    .deliver {
        display: none;
    }
    .deliver-text {
        display: none;
    }
    .navigation__container .navigation {
        justify-content: center;
    }
    .navigation__container .navigation li {
        margin-right: 25px;
    }
    .navigation__container .navigation li a {
        font-size: 18px;
    }
    .header-left__content h3 {
        font-size: 20px;
    }
    .header__container {
        padding: 10px;
    }
    .header__contents {
        margin: 100px 30px;
        flex-direction: column;
    }
}

@media(max-width:387px) {
    .left-nav {
        margin: auto;
    }
}


/* Header Media Query End */


/* Header End */


/* usoroh styles */

.container {
    display: flex;
    height: 100%;
}

.container__first {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 400px;
    width: 47.565vw;
    margin: 40px 10px 40px 40px;
}

.text-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    position: absolute;
    top: 35px;
    left: 19px;
}

img {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

article img {
    filter: drop-shadow(10px 5px 4px #111);
}

.sub-container {
    width: 50%;
    margin-right: 30px;
}

.container__second {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 180px;
    width: 90%;
    margin: 39px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.text-3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4vw;
    position: absolute;
    top: 40px;
    left: 19px;
}

.text-5 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 75px;
    left: 19px;
}

.container__second img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.container__third {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 180px;
    width: 90%;
    margin: 40px 40px 40px 40px;
}

.text-6 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-7 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4vw;
    position: absolute;
    top: 40px;
    left: 19px;
}

.container__third img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}


/* .container-two {
    display: flex;
    height: 100%;
} */

.tasty {
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    /* position: relative;
    width: 17%;
    height: 40px;
    padding: 10px 5px 5px 40px;
    margin-left: 41%; */
}

.tasty-one {
    /* font-family: 'Oswald', sans-serif; */
    width: 200px;
    padding: 10px;
    font-size: 20px;
    background-color: #ffcd62;
    color: #52311e;
    margin: auto;
}

.tasty-one:hover {
    background-color: #52311e;
    color: #ffcd62;
}

.header {
    margin-top: 50px;
}

.header h3 {
    /* display: flex;
    justify-content: center;
    font-family: 'Alfa Slab One', cursive;
    margin: 8px 10px 10px 10px; */
    font: size 30px;
    font-weight: 800;
    text-align: center;
}

.letter {
    /* display: flex;
    align-items: center;
    margin: -5px 10px 10px 10px; */
}

.letter p {
    text-align: center;
}

.grid {
    margin: 80px 0 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.grid>article {
    border: none;
    text-align: center;
}

.text button {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    width: 60%;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    margin-top: 20px;
}

.grid>article img {
    width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.text h3 {
    font-family: 'Teko', sans-serif;
    padding: 0 0 0 10px;
    margin: 20px;
}

.text p {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>article {
        text-align: center;
    }
}


/* usoroh styles end*/


/* eunice css */

.mother__category {
    width: 90%;
    box-shadow: 5px 10px 8px #888888;
    margin: 30px;
}

.firstbox__categories {
    width: 90%;
    height: 100%;
    border: 1px;
    background-color: solid white;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

.box1__category {
    width: 100%;
    padding: 30px;
    position: relative;
}

.box1__category>p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

.box1__category h5 {
    font-family: 'Roboto', sans-serif;
    color: #52311e;
}

.box1__category h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
}

.box2__category {
    width: 100%;
    height: 360px;
    background-color: blue;
    margin-bottom: 20px;
}

.box2__category img {
    width: 100%;
    height: 100%;
}

@media(max-width: 767px) {
    .firstbox__categories {
        display: flex;
        flex-direction: column;
    }
}


/* Body -2 Styles End */


/* Footer Styles */

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer__heading {
    display: flex;
    /* justify-content: center; */
    align-content: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

.footer__heading h1 {
    font-size: 60px;
    font-weight: 800;
    color: #52311e;
    font-family: 'Teko';
}

.footer-second {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    align-content: center;
    justify-content: center;
    width: 80%;
    /* margin: 10px 0 10px 120px; */
}

.form__image1 {
    position: absolute;
    left: 120px;
}

.form-1,
.form-2 {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 35%;
    margin: 10px;
}

input {
    padding: 20px;
    width: 100%;
    border-radius: 5px;
}

[type="button"] {
    background: red;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Teko';
    outline: none;
    border: none;
    border-radius: 5px;
}

[type="button"]:hover {
    transition: .2s;
    background: #ffcd62;
    color: #111;
}

.form__image2 {
    position: absolute;
    left: 1200px;
}

.form__image2>img {
    width: 90%;
}

.other {
    color: #eee;
    background: url(../images/bg.png);
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #fff;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    margin: 20px 20px 40px 60px;
}

.others__heading {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1;
}

.others__heading h1 {
    margin: 2px 0 0 8px;
}

.others__paragraph {
    font-family: 'Roboto', sans-serif;
}

.brand-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-info {
    display: flex;
    flex-direction: column;
}

.others__paragraph_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-para {
    width: 50%
}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 600px) {
    .footer-second {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        width: 100%
    }
    .form-1 {
        display: grid;
        grid-gap: 20px;
        margin: 10px;
    }
    .form-2 {
        display: grid;
        grid-gap: 20px;
        margin: 10px;
    }
    .form__image1,
    .form__image {
        display: none;
    }
    .other {
        margin: 0;
        width: 100%
    }
    .others__heading {
        justify-content: center;
        margin: 2px 0 0 0;
    }
    .brand-about {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        flex: 1;
    }
    .others__paragraph_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .brand-para,
    .others__paragraph {
        width: 100%
    }
    [type="button"]:hover {
        transition: .2s;
        background: #ffcd62;
        color: #111;
    }
}

@media only screen and (max-width: 768px) {
    .footer-second {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;
        width: 100%
    }
    .form-1 {
        display: grid;
        grid-gap: 20px;
        margin: 10px;
    }
    .form-2 {
        display: grid;
        grid-gap: 20px;
        margin: 10px;
    }
    .form__image1,
    .form__image {
        display: none;
    }
    .other {
        margin: 0;
        width: 100%
    }
    .others__heading {
        justify-content: center;
        margin: 2px 0 0 0;
    }
    .brand-about {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        flex: 1;
    }
    .others__paragraph_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .brand-para,
    .others__paragraph {
        width: 100%
    }
    [type="button"]:hover {
        transition: .2s;
        background: #ffcd62;
        color: #111;
    }
}

@media only screen and (min-width: 992px) {}


/* Footer Styles End */

@media(max-width: 800px) {}

@media(max-width: 767px) {
    .firstbox__categories {
        display: flex;
        flex-direction: column;
    }
}