* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Teko";
}


/* Default Styles End */


/* Header start */

header {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    background-color: #ffcd62;
    overflow: hidden;
}


.header__block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffcd62; 
}

.header__block.sticky{
    background-color:#52311e;
    color: #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
}

.burger {
    font-size: 60px;
    color: #52311e;
}

.header__block.sticky .burger{
    color: #ffcd62;
}

.burger-text {
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
}

.header__block.sticky .burger-text{
    color:#ffcd62;
}

.deliver {
    font-size: 40px;
}

.header__block.sticky .deliver{
    color:#ffcd62;
}

.deliver-text {
    font-size: 20px;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
    font-weight: 800;
}

.header__block.sticky .deliver-text{
    color:#ffcd62;
}

.navigation__container .navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation__container .navigation li {
    list-style: none;
    margin-right: 30px;
}

.navigation__container .navigation li a {
    font-size: 25px;
    color: #52311e;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.header__block.sticky .navigation__container .navigation li a{
    color:#ffcd62;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.header__contents {
    position:relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 140px 30px;
}

.header-left__content {
    /* background-color: red; */
    margin-top: 40px;
}

.header-left__content h3 {
    padding: 10px;
    border: 2px dashed #52311e;
    font-size: 25px;
}

.header-right {
    filter: drop-shadow(10px 5px 4px #111);
}

.header-right img {
    width: 100%;
    height: auto;
    /* width: 600px;
    height: 800px; */
}

.burger_text {
    font-size: 85px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 1px #fff;
    color: #52311e;
    ;
}

.week_text {
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
    text-shadow: 2px 1px #fff;
}

/* Header Media Query */
@media(max-width: 900px){
    .burger_text{
        font-size:65px;
    }
    .week_text{
        font-size: 40px;
    }
}

@media(max-width: 760px){
    .burger_text{
        font-size: 50px;
    }

    .week_text{
        font-size: 30px;
    }
}

@media(max-width: 650px){
    .navigation__container .navigation{
        justify-content: center;
    }
    .header__contents {
        flex-direction: column;
    }
    .burger_text{
        font-size: 70px;
    }

    .week_text{
        font-size: 50px;
    }
}
@media(max-width:590px){
    .deliver{
        font-size: 30px;
    }
    .deliver-text{
        font-size: 20px;
        margin-left: 0;
    }
}

@media(max-width: 400px){
    .header{
        overflow:hidden;
    }
    .deliver{
        display: none;
    }
    .deliver-text{
        display:none;
    }
    .navigation__container .navigation{
        justify-content: center;
    }
    .navigation__container .navigation li {
        margin-right: 25px;
    }
    .navigation__container .navigation li a {
        font-size: 18px;
    }
    .header-left__content h3 {
        font-size: 20px;
    }
    .header__container {
        padding:10px;
    }
    .header__contents {
        margin: 100px 30px;
        flex-direction: column;
    }

}
/* Header Media Query End */

/* Header End */


/* usoroh styles */

.container {
    display: flex;
    height: 100%;
}

.container__first {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 400px;
    width: 47.565vw;
    margin: 40px 10px 40px 40px;
}

.text-1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    position: absolute;
    top: 35px;
    left: 19px;
}

img {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.sub-container {
    width: 50%;
    margin-right: 30px;
}

.container__second {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 180px;
    width: 90%;
    margin: 39px 40px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.text-3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4vw;
    position: absolute;
    top: 40px;
    left: 19px;
}

.text-5 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 75px;
    left: 19px;
}

.container__second img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.container__third {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px 10px 10px 10px;
    height: 180px;
    width: 90%;
    margin: 40px 40px 40px 40px;
}

.text-6 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5vw;
    position: absolute;
    top: 20px;
    left: 19px;
}

.text-7 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4vw;
    position: absolute;
    top: 40px;
    left: 19px;
}

.container__third img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.container-two {
    display: flex;
    height: 100%;
}

.tasty {
    position: relative;
    background-color: yellow;
    width: 17%;
    height: 40px;
    padding: 10px 5px 5px 40px;
    margin-left: 41%;
}

.tasty-one {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2vw;
    position: absolute;
}

.header {
    margin-top: 10px 30px;
}

.header-h {
    display: flex;
    justify-content: center;
    font-family: 'Sigmar One', cursive;
    margin: 8px 10px 10px 10px;
    font-size: xx-large;
}

.letter {
    display: flex;
    align-items: center;
    margin: -5px 10px 10px 10px;
}

.letter p {
    padding: 0 20px 20px;
}

.grid {
    margin: 80px 0 0 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.grid>article {
    border: none;
    text-align: center;
    width: 21.9619vw;
}

.text button {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    margin-top: 20px;
}

.grid>article img {
    width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.text h3 {
    font-family: 'Roboto', sans-serif;
    padding: 0 0 0 10px;
    margin: 20px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>article {
        text-align: center;
    }
}


/* usoroh styles end*/


/* eunice css */
.mother__category {
    width: 90%;
    box-shadow: 5px 10px 8px #888888;
    margin: 30px;
}

.firstbox__categories {
    width: 90%;
    height: 100%;
    border: 1px;
    background-color: solid white;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
}

.box1__category {
    width: 100%;
    padding: 30px;
    position: relative;
}

.box1__category>p {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

.box1__category h5 {
    font-family: 'Roboto', sans-serif;
    color: #52311e;
}

.box1__category h1 {
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
}

.box2__category {
    width: 100%;
    height: 360px;
    background-color: blue;
    margin-bottom: 20px;
}

.box2__category img {
    width: 100%;
    height: 100%;
}

@media(max-width: 767px){
    .firstbox__categories{
        display: flex;
        flex-direction: column;
    }
}

/* Body -2 Styles End */


/* Footer Styles */

.footer__heading {
    margin: 0 auto;
    color: #47210c;
}

.footer__heading span {
    text-align: center;
    display: block;
    font-size: 20px;
}

.footer__heading h1 {
    font-family: "Alfa Slab One", 'Teko', cursive;
    font-weight: bold;
    font-size: 40px;
}

input {
    margin: 15px 15px;
    padding: 12px 10px;
    border: 1px solid #eee;
    color: #b3b3b3;
    border-radius: 5px;
}

[type="button"] {
    background-color: red;
    color: #eee;
    font-size: 15px;
    font-family: "Alfa Slab One", 'Teko';
}

.form__image2>img {
    position: relative;
    left: 130px;
    top: 80px;
}

.input-1 {
    position: relative;
    left: 120px;
}

.input-2 {
    position: relative;
    left: 120px;
}

.form__image1>img {
    position: relative;
    left: auto;
    top: auto;
}

.footerburger {
    font-size: 80px;
    color: #eee;
}

.other {
    color: #eee;
    background: url(../images/bg.png);
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #eee;
    width: 100%;
    height: 100%;
}

.others__paragraph {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 600px) {}

@media only screen and (max-width: 600px) {
    .form__image2>img {
        display: none;
    }
    .form__image1>img {
        display: none;
    }
    .input-2 {
        position: relative;
        left: 0;
        right: 0;
    }
    .input-1 {
        position: relative;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .form__image2>img {
        display: none;
    }
    .form__image1>img {
        display: none;
    }
    .input-2 {
        position: relative;
        left: 0;
        right: 0;
    }
    .input-1 {
        position: relative;
        left: 0;
        right: 0;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}


/* Footer Styles End */

@media(max-width: 800px) {}

@media(max-width: 767px) {
    .firstbox__categories {
        display: flex;
        flex-direction: column;
    }
}