* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Teko";
}


/* Default Styles End */


/* Header start */

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #ffcd62;
}

.header__block {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffcd62; */
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
}

.burger {
    font-size: 60px;
    color: #52311e;
}

.burger-text {
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
}

.deliver {
    font-size: 40px;
}

.deliver-text {
    font-size: 20px;
    margin-left: 15px;
    color: #52311e;
    font-family: 'Teko', sans-serif;
    font-weight: 800;
}

.navigation__container .navigation {
    display: flex;
    justify-content: flex-end;
}

.navigation__container .navigation li {
    list-style: none;
    margin-right: 30px;
}

.navigation__container .navigation li a {
    font-size: 25px;
    color: #52311e;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Teko', sans-serif;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;
}

.header__contents {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 30px 30px;
}

.header-left__content {
    /* background-color: red; */
    margin-top: 40px;
}

.header-left__content h3 {
    padding: 10px;
    border: 2px dashed #52311e;
    font-size: 15px;
}

.header-right {
    filter: drop-shadow(10px 5px 4px #111);
}

.header-right img {
    width: 100%;
    height: 100%;
    /* width: 600px;
    height: 800px; */
}

.burger_text {
    font-size: 85px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: 2px 1px #fff;
    color: #52311e;
    ;
}

.week_text {
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
    text-shadow: 2px 1px #fff;
}


/* Header End */


/* Body -1 Styles */


/* Body -1 Styles End */


/* Body -2 Styles */


/* Body -2 Styles End */


/* Footer Styles */

.footer__heading {
    /* text-align: center; */
    margin: 0 auto;
    color: #47210c;
}

.footer__heading span {
    text-align: center;
    display: block;
    font-size: 20px;
}

.footer__heading h1 {
    font-family: "Alfa Slab One", 'Teko', cursive;
    font-weight: bold;
    font-size: 40px;
}

.form__image1 {
    height: 100%;
    margin-left: 80px;
}

.form__image1>img {
    height: 400%;
    width: 200%;
    margin-left: 0;
    margin-top: 20px;
}

form {
    margin-top: 10px;
    width: 150%;
    margin-left: 150px;
    /* display: flex; */
}

.justify-1 {
    margin-right: -60px;
    margin-left: 30px;
}

.justify-1>input {
    width: 80%;
}

.justify-2>input {
    width: 80%;
}


/* .justify-2 {
    margin-left: -60px;
} */

input {
    margin: 15px auto;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #eee;
    color: #b3b3b3;
    border-radius: 5px;
}

.form__image2>img {
    width: 70%;
    height: 100%;
    /* position: relative;
    bottom: 100px; */
}

[type="button"] {
    background-color: red;
    /* border: none; */
    color: #eee;
    /* font-weight: bold; */
    font-size: 15px;
    font-family: "Alfa Slab One", 'Teko';
    word-spacing: 5px;
}

.footerburger {
    font-size: 80px;
    color: #eee;
}

.other {
    color: #eee;
    background: url(../images/bg.png);
    background-attachment: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #eee;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    /* .form__image2,
    .form__image1 {
        visibility: hidden;
    } */
    .justify-1 {
        position: relative;
        right: 100px;
        width: 100%;
    }
    .justify-2 {
        position: relative;
        right: 20px;
    }
    .justify-2>input {
        display: inline-block;
        margin: 20px 100px;
    }
    .justify-1>input {
        display: inline-block;
        margin: 20px 100px;
        width: 100%
    }
    form {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    /* .form__image2,
    .form__image1 {
        visibility: hidden;
    } */
    .justify-1 {
        position: relative;
        right: 100px;
        width: 100%;
    }
    .justify-2 {
        position: relative;
        right: 20px;
    }
    .justify-2>input {
        display: inline-block;
        margin: 20px 100px;
    }
    .justify-1>input {
        display: inline-block;
        margin: 20px 100px;
        width: 100%
    }
    form {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .form__image2,
    .form__image1 {
        visibility: hidden;
    }
    .justify-1 {
        position: relative;
        right: 300px;
        width: 100%;
    }
    .justify-2 {
        position: relative;
        right: 180px;
    }
    .justify-2>input {
        display: inline-block;
        margin: 20px 100px;
    }
    .justify-1>input {
        display: inline-block;
        margin: 20px 100px;
        width: 120%
    }
}


/* @media only screen and (min-width: 992px) {
    /* .form__image2,
    .form__image1 {
        visibility: hidden;
    } 

.justify-1 {
    position: relative;
    right: 100px;
    width: 100%;
}

.justify-2 {
    position: relative;
    right: 20px;
}

.justify-2>input {
    display: inline-block;
    margin: 20px 100px;
}

.justify-1>input {
    display: inline-block;
    margin: 20px 100px;
    width: 100%
}

form {
    margin-right: 30px;
}


}
*/


/* Footer Styles End */

@media(max-width: 800px) {}
/* eunice css */
*{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
}
.mother__category{
    width: 90%;
    box-shadow: 5px 10px 8px #888888;
    margin: 30px;
}
.firstbox__categories{
    width: 90%;
    height: 100%;
    border: 1px;
   background-color: solid white;
   display: flex;
   flex-direction: row;
   margin:50px auto; 
}

.box1__category{
    width: 100%;
    padding: 30px;
    position: relative;

}
.box1__category >p{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}
.box1__category h5{
    font-family: 'Roboto', sans-serif;
    color: #52311e;
    
}
.box1__category h1{
    font-family: 'Alfa Slab One', cursive;
    color: #52311e;
}
.box2__category{
    width: 100%;
    height: 360px;
    background-color: blue;
    margin-bottom: 20px;
}

.box2__category img{
    width: 100%;
    height: 100%;
}
@media(max-width: 767px){
    .firstbox__categories{
        display: flex;
        flex-direction: column;
    }
}
